*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  display: flex;
  flex-direction: column;
  position: relative;

  .header{
    position: absolute;
    color: #ffffff;
    background-color: #707070;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 399px;
    width: 1500px;

    .msg1{
      position: absolute;
      height: 23px;
      width: 250px;
      font-size: 20px;
      top: 69px;

    }
    .msg2{
      position: absolute;
      height: 48px;
      width: 358px;
      font-size: 40px;
      top: 92px;
      font-weight: bold;
    }
    .msg3{
      position: absolute;
      height: 16px;
      width: 548px;
      font-size: 14px;
      top: 164px;
    }
    .nav{
      position: absolute;
      display: flex;
      width: 769px;
      justify-content: space-between;
      top: 230px;
      a{
        color:#888888;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
        background-color: #ffffff;
        text-decoration: none;
        border: 1px solid #707070;
        border-radius: 4px;
      }
    }
  }

  .intro{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 290px;
    top: 20px;
    padding-top:29px;
    width: 920px;
    height: 350px;
    .content1{
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-content: flex-start;
      h1{
        position: absolute;
        top: 420px;
        height: 23px;
        width: 432px;
      }
      p{
        position: absolute;
        top: 473px;
        height: 220px;
        width: 520px;
      }
    }
    form{
      position: absolute;
      top: 420px;
      left: 870px;
      display: flex;
      flex-direction: column;
      height: 227px;
      width: 340px;
      label{
        height:14px;
      }
      .textoinput{
        height: 30px;
        width: 340px;
      }
      div{
        display: flex;
        justify-content: left;
        width: 203px;
        height: 14px;
        
        input{
          font-size: 12px;
          height: 14px;
        }
        label{
          padding-right: 20px;
        }

      }
    }  
  }
  }
