* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.centraliza {
  margin: 0 auto;
  width: 931px;
}

.tela1 {
  width: 1500px;
  margin: 0 auto;
}

body {
  font-family: Helvetica, sans-serif;
}

.header {
  color: #ffffff;
  background-color: #707070;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 399px;
  width: 1500px;
}
.header .msg1 {
  position: absolute;
  height: 23px;
  width: 250px;
  font-size: 20px;
  top: 69px;
}
.header .msg2 {
  position: absolute;
  height: 48px;
  width: 358px;
  font-size: 40px;
  top: 92px;
  font-weight: bold;
}
.header .msg3 {
  position: absolute;
  height: 16px;
  width: 548px;
  font-size: 14px;
  top: 164px;
}
.header .nav {
  position: absolute;
  display: flex;
  width: 769px;
  justify-content: space-between;
  top: 230px;
}
.header .nav a {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1607843137);
  color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  background-color: #ffffff;
  text-decoration: none;
  border: 1px solid #707070;
  border-radius: 4px;
  border: 1px solid #707070;
}

.intro {
  position: relative;
  height: 390px;
}
.intro .centraliza {
  display: flex;
}
.intro .caixa-texto {
  margin-top: 20px;
  width: 520px;
  height: 273px;
}
.intro .caixa-texto h1 {
  height: 23px;
  width: 432px;
  font-size: 20px;
  color: #888888;
  text-align: left;
  font-weight: bold;
}
.intro .caixa-texto .paragrafos {
  margin-bottom: 30px;
  color: #888888;
  letter-spacing: 0px;
}
.intro .caixa-texto .paragrafos p {
  padding-top: 10px;
  width: 520px;
}
.intro .caixa-form {
  margin-top: 20px;
  height: 227px;
  width: 340px;
}
.intro .caixa-form form {
  font: normal normal normal 12px/14px Helvetica Neue;
  color: #888888;
  font-size: 12px;
  display: flexbox;
  flex-direction: column;
  justify-content: space-around;
  height: 277px;
  width: 340px;
}
.intro .caixa-form form .inputbox {
  height: 51px;
  position: relative;
}
.intro .caixa-form form .inputbox label {
  height: 14px;
}
.intro .caixa-form form .inputbox .textoinput {
  height: 30px;
  width: 340px;
}
.intro .caixa-form form .sexo {
  display: flex;
  justify-content: left;
  width: 203px;
  height: 14px;
}
.intro .caixa-form form .sexo input {
  font-size: 12px;
  height: 14px;
  border: 1px solid #707070;
}
.intro .caixa-form form .sexo label {
  margin-left: 5px;
  padding-right: 20px;
}
.intro .caixa-form .botao {
  border: 1px solid #707070;
  background-color: #ffffff;
  border-radius: 4px;
  color: #888888;
  font-size: 16px;
  height: 39px;
  width: 340px;
}

.produtos {
  height: 902px;
}
.produtos .tituloprodutos {
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 50px;
  height: 22px;
  width: 181px;
}
.produtos .listaprodutos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 931px;
  height: 740px;
}
.produtos .listaprodutos div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: normal normal normal 12px/16px Helvetica Neue;
  width: 201px;
  height: 350px;
}
.produtos .listaprodutos div p {
  font-size: 12px;
}
.produtos .listaprodutos div img {
  border: 1px solid #707070;
  height: 150px;
  width: 200px;
}
.produtos .listaprodutos div .promo {
  font-weight: bold;
  font-size: 16px;
}
.produtos .listaprodutos div .bt-comprar {
  background-color: #ffffff;
  font-size: 16px;
  color: #888888;
  align-self: center;
  justify-self: center;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #707070;
}
.produtos .bt {
  width: 260px;
  height: 39px;
  margin: 0 auto;
}
.produtos .bt .maisprodutos {
  font-size: 16px;
  position: absolute;
  width: 260px;
  height: 39px;
}

.amigos {
  height: 261px;
}
.amigos h2 {
  width: 204px;
  height: 22px;
  font-size: 17px;
  margin: 0 auto;
  margin-top: 128px;
  font-weight: bold;
}
.amigos p {
  margin: 0 auto;
  font-size: 14px;
  height: 16px;
  width: 534px;
  margin-top: 44px;
}
.amigos .form2 {
  margin: 0 auto;
  margin-top: 39px;
  height: 51px;
  width: 720px;
}
.amigos .form2 .form-amigo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.amigos .form2 .form-amigo .inputs-amigo {
  height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.amigos .form2 .form-amigo .inputs-amigo .text {
  border: 1px solid #707070;
  width: 340px;
  height: 30px;
}
.amigos .form2 .div-enviar {
  margin: 0 auto;
  height: 39px;
  width: 260px;
}
.amigos .form2 .div-enviar .bt-enviar {
  margin-top: 50px;
  height: 39px;
  width: 260px;
  border-radius: 4px;
  border: 1px solid #707070;
}

.footer {
  display: flex;
  margin-top: 72px;
  background-color: #707070;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 1500px;
  height: 294px;
  font-size: 12px;
  color: #ffffff;
}
.footer p {
  margin-bottom: 5px;
}

@media (max-width: 420px) {
  body .header {
    color: #ffffff;
    background-color: aqua;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 399px;
    width: 1500px;
  }
}/*# sourceMappingURL=style.css.map */