* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
body .header {
  position: absolute;
  color: #ffffff;
  background-color: #707070;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 399px;
  width: 1500px;
}
body .header .msg1 {
  position: absolute;
  height: 23px;
  width: 250px;
  font-size: 20px;
  top: 69px;
}
body .header .msg2 {
  position: absolute;
  height: 48px;
  width: 358px;
  font-size: 40px;
  top: 92px;
  font-weight: bold;
}
body .header .msg3 {
  position: absolute;
  height: 16px;
  width: 548px;
  font-size: 14px;
  top: 164px;
}
body .header .nav {
  position: absolute;
  display: flex;
  width: 769px;
  justify-content: space-between;
  top: 230px;
}
body .header .nav a {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1607843137);
  color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  background-color: #ffffff;
  text-decoration: none;
  border: 1px solid #707070;
  border-radius: 4px;
  border: 1px solid #707070;
}
body h1 {
  position: absolute;
  top: 420px;
  height: 23px;
  width: 432px;
  left: 290px;
  font: normal normal normal 20px/24px Helvetica Neue;
  color: #888888;
  text-align: left;
}
body .paragrafos {
  position: absolute;
  left: 290px;
  top: 473px;
  margin-bottom: 30px;
  color: #888888;
  letter-spacing: 0px;
}
body .paragrafos p {
  display: block;
  padding-top: 10px;
  width: 520px;
}
body form {
  font: normal normal normal 12px/14px Helvetica Neue;
  color: #888888;
  font-size: 12px;
  position: absolute;
  display: flexbox;
  flex-direction: column;
  justify-content: space-around;
  top: 420px;
  left: 870px;
  height: 277px;
  width: 340px;
}
body form .inputbox {
  height: 51px;
  position: relative;
}
body form .inputbox label {
  position: absolute;
  height: 14px;
  top: 0;
}
body form .inputbox .textoinput {
  position: absolute;
  height: 30px;
  width: 340px;
  bottom: 0;
}
body form .sexo {
  position: absolute;
  top: 213px;
  display: flex;
  justify-content: left;
  width: 203px;
  height: 14px;
}
body form .sexo input {
  font-size: 12px;
  height: 14px;
}
body form .sexo label {
  padding-right: 20px;
}
body .botao {
  position: absolute;
  height: 39px;
  width: 340px;
  top: 670px;
  left: 870px;
}
body .tituloprodutos {
  position: absolute;
  left: 666px;
  top: 788px;
  height: 22px;
  width: 181px;
}
body .listaprodutos {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 860px;
  left: 285px;
  width: 931px;
  height: 740px;
}
body .listaprodutos div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: normal normal normal 12px/16px Helvetica Neue;
  width: 201px;
  height: 350px;
}
body .listaprodutos div img {
  border: 1px solid #707070;
  height: 150px;
  width: 200px;
}
body .listaprodutos div button {
  align-self: center;
  justify-self: center;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #707070;
}
body .maisprodutos {
  position: absolute;
  width: 260px;
  height: 39px;
  top: 1651px;
  left: 620px;
}/*# sourceMappingURL=style.css.map */