*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  
  
}

body{
  font-family: Helvetica, sans-serif;
  // display: flex;
  // flex-direction: column;
  position: relative;
  color: #888888;

  .header{
    position: absolute;
    color: #ffffff;
    background-color: #707070;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 399px;
    width: 1500px;

    .msg1{
      position: absolute;
      height: 23px;
      width: 250px;
      font-size: 20px;
      top: 69px;

    }
    .msg2{
      position: absolute;
      height: 48px;
      width: 358px;
      font-size: 40px;
      top: 92px;
      font-weight: bold;
    }
    .msg3{
      position: absolute;
      height: 16px;
      width: 548px;
      font-size: 14px;
      top: 164px;
    }
    .nav{
      position: absolute;
      display: flex;
      width: 769px;
      justify-content: space-between;
      top: 230px;
      a{
        box-shadow: 0px 1px 6px #00000029;
        color:#888888;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
        background-color: #ffffff;
        text-decoration: none;
        border: 1px solid #707070;
        border-radius: 4px;
        border: 1px solid #707070;
      }
    }
  }

  
    h1{
      font-family: Helvetica, sans-serif;
      position: absolute;
      top: 420px;
      height: 23px;
      width: 432px;
      left: 290px;
      font-size: 20px;
      color: #888888;
      text-align: left;
      font-weight: bold;
    }
    .paragrafos{
      position: absolute;
      left: 290px;
      top: 473px;
      margin-bottom: 30px;
      color: #888888;
      letter-spacing: 0px;
      
      p{
        display: block;
        // position: absolute;
        padding-top: 10px;
        width: 520px;
      }
    }
    
    form{
      font: normal normal normal 12px/14px Helvetica Neue;
      color: #888888;
      font-size: 12px;
      position: absolute;
      // position: relative;
      display: flexbox;
      flex-direction: column;
      // align-content: space-around;
      justify-content: space-around;
      top: 420px;
      left: 870px;
      // right: 290px;
      
      height: 277px;
      width: 340px;

      
      .inputbox{
        height: 51px;
        position: relative;
        label{
          position: absolute;
          height:14px;
          top: 0;
        }
        .textoinput{
          position: absolute;
          height: 30px;
          width: 340px;
          bottom: 0;
        }
      }
      .sexo{
        position: absolute;
        top: 213px;
        display: flex;
        
        justify-content: left;
        width: 203px;
        height: 14px;
        
        input{
          font-size: 12px;
          height: 14px;
          border: 1px solid #707070;
        }
        label{
          margin-left: 5px;
          padding-right: 20px;
        }
      }
      
    }
    .botao{
      position: absolute;
      border: 1px solid #707070;
      background-color: #ffffff;
      border-radius: 4px;
      color: #888888;
      font-size: 16px;
      height: 39px;
      width: 340px;
      top: 670px;
      left: 870px;
      // margin-top: 23px;
    }  

  
  .tituloprodutos{
    font-weight: bold;
    position: absolute;
    left: 666px;
    top: 788px;
    height: 22px;
    width: 181px;
    }
  .listaprodutos{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 860px;
    left: 285px;
    width: 931px;
    height: 740px;
    
    div{
      p{
        font-size: 12px;
        
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font: normal normal normal 12px/16px Helvetica Neue;
      width: 201px;
      height: 350px;
      img{
        // background-color: rgb(194, 211, 211);
        border: 1px solid #707070;
        height: 150px;
        width: 200px;
      }
      .promo{
        font-weight: bold;
        font-size: 16px;
      }
      button{
        background-color: #ffffff;
        font-size: 16px;
        color: #888888;
        align-self: center;
        justify-self: center;
        width: 200px;
        height: 30px;
        border-radius: 4px;
        border: 1px solid #707070;
      }
    }
    
  }
  .maisprodutos{
    font-size: 16px;
    // color: #707070;
    position: absolute;
    width: 260px;
    height: 39px;
    top: 1651px;
    left: 620px;
  }
  .amigos{
    position: absolute;
    // top: 1818px;
    h2{
      width: 204px;
      height: 22px;
      font-size: 17px;
      position: absolute;
      left: 655px;
      top: 1818px;
      font-weight: bold;
      // background-color: #707070;
    }
    p{
      position: absolute;
      font-size: 14px;
      height: 16px;
      width: 534px;
      top: 1884px;
      left: 483px;
    }
    .form2{
      position: absolute;
      top: 1939px;
      left: 390px;
      height: 51px;
      width: 720px;
      .form-amigo{
  
          // position: absolute;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          // flex-wrap: wrap;
          
          
          // background-color: black;
        div{
          // background-color: #707070;
          // position: absolute;
          height: 51px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          
          

          .text{
            // position: absolute;
            border: 1px solid #707070;
            width: 340px;
            height: 30px;
            // top: 21px;
          }
        }
        
      }

      .bt-enviar{
        
        position: absolute;
        height: 39px;
        width: 260px;
        top: 101px;
        left: 230px;    
        border-radius: 4px;
        border: 1px solid #707070;

      }
    }
    
  }
  .footer{
    display: flex;
    position: absolute;
    background-color: #707070;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    top: 2150px;
    left: 0px;
    width: 1500px;
    height: 294px;
    font-size: 12px;
    color: #ffffff;
    p{
      margin-bottom: 5px;
    }
  }
  }

  
